.timerContainerStyle{
    background-color: rgb(240, 248, 255);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
   
    margin-left: 290px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner_box{
    max-width: 590px;
}